body {
  background-color: #121214;
}

.clock-container {
  font-size: 4em;
  text-align: center;
  margin: 200px auto 0;
  color: #e1e1e6;
  font-family: Arial, Helvetica, sans-serif;
}

.clock-container span {
  padding: 20px;
  background-color: #6833e4;
  border-radius: 10px;

}