body {
    background-color: #f3f3f3;
    font-family: 'Courier New', Courier, monospace;
}
h1 { text-align: center }
form {
    max-width: 200px;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 10px;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

button { cursor: pointer }